{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Resultados para "{{ query }}"</h1>

<form method="get" class="input-group mb-4" style="max-width: 400px;">
    <input type="text" name="query" class="form-control" placeholder="Buscar juegos en Steam..." value="{{ query }}" style="background-color: #17506E; color: #E8EAF2; border: none;">
    <button class="btn" type="submit" style="background-color: #17506E; color: #E8EAF2;">Buscar</button>
</form>

<div class="row">
    {% for juego in juegos %}
        {% if juego.appid %}
            <div class="col-md-3 mb-4">
                <div class="card h-100 tarjeta-hover" style="background-color: #1a1c2c; color: #E8EAF2;">
                    <a href="{% url 'detalle_juego_steam' juego.appid %}">
                        <img src="{{ juego.img }}" class="card-img-top" alt="{{ juego.name }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 1rem;">{{ juego.name }}</h5>
                    </div>
                </div>
            </div>
        {% endif %}
    {% empty %}
        <p>No se encontraron juegos para esta búsqueda.</p>
    {% endfor %}
</div>
{% endblock %}
