{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">Top 10 Juegos Más Vendidos</h2>

<div class="list-group">
    {% for item in juegos %}
        <a href="{% url 'detalle_juego' item.juego.id %}" class="list-group-item list-group-item-action d-flex align-items-center" style="background-color: #1a1c2c; color: #E8EAF2;">
            <strong class="me-3">{{ item.posicion }}.</strong>
            {% if item.juego.imagen_principal %}
                <img src="{{ item.juego.imagen_principal }}" alt="{{ item.juego.nombre }}" style="height: 60px; width: auto;" class="me-3 tarjeta-hover">

            {% else %}
                <img src="https://via.placeholder.com/60" class="me-3 rounded">
            {% endif %}
            <div class="flex-grow-1">
                <div>{{ item.juego.nombre }}</div>
            </div>
            <div><strong>${{ item.juego.precio }}</strong></div>
        </a>
    {% empty %}
        <p>No hay datos suficientes para mostrar los más vendidos.</p>
    {% endfor %}
</div>
{% endblock %}
